.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border: 1px grey solid;
  background: linear-gradient(90deg, rgb(20, 30, 40), rgb(40, 60, 80));
}

.content-container {
  background-color: rgb(10, 20, 30);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px grey solid;
  border-top: 0px;
  padding: 10px;
}

.dropdown-icon {
  cursor: pointer;
  user-select: none;
}
