<app-header title="Feat" [subtitle]="feat?.name ?? ''"></app-header>

  <main>
    @if (!feat) {
      <mat-spinner></mat-spinner>
    } @else {
      <div class="feat-title-container">
        <img class="feat-img" [src]="feat.imgUrl" />
        <h2>{{feat.name}}</h2>
      </div>
      <p class="feat-desc">{{feat.description + '.'}}</p>
      <div class="details-container">
        <div class="ability-container">
          <h3>Abilities</h3>
          @if (!feat.abilities.length) {
            <p class="no-entries">No abilities.</p>
          } @else {
          @for (ability of feat.abilities; track ability) {
            <div class="ability">
              <div class="summary-container">
                <span class="ability-duration">{{ability.duration}}</span>
                <span class="ability-summary">{{ability.summary + '.'}}</span>
              </div>
              <p class="ability-desc">{{ability.description}}</p>
              <h4>Conditions</h4>
              @if (!ability.conditions.length) {
                <p class="no-entries">No conditions.</p>
              } @else {
              <ul>
                @for (condition of ability.conditions; track condition) {
                  <li>{{condition}}</li>
                }
              </ul>
              }
              <h4>Effects</h4>
              @if (!ability.effects.length) {
                <p class="no-entries">No effects.</p>
              } @else {
                @for (effect of ability.effects; track effect) {
                <div class="effect-container">
                  <h5>{{effect.effect}}</h5>
                  @if (!effect.conditions.length) {
                    <p class="no-entries">No effect conditions.</p>
                  } @else {
                    <ul class="effect-conditions-container">

                      @for (condition of effect.conditions; track condition) {
                        <li>
                          {{condition}}
                        </li>
                      }
                    </ul>
                  }
                </div>
                }
              }
            </div>
          }
          }
        </div>
        <div class="ability-container">
          <h3>Buffs</h3>
          @if (!feat.buffs.length) {
            <p class="no-entries">No buffs.</p>
          } @else {
          @for (buff of feat.buffs; track buff) {
            <div class="ability">
              <div class="buff-container">
                <span class="ability-duration">{{formatStatOffset(buff.value)}}</span>
                <span class="ability-summary">{{buff.stat}}</span>
              </div>
              <h4>Conditions</h4>
              @if (!buff.conditions.length) {
                <p class="no-entries">No conditions.</p>
              } @else {
              <ul>
                @for (condition of buff.conditions; track condition) {
                  <li>{{condition}}</li>
                }
              </ul>
              }
            </div>
          }
          }
        </div>
      </div>
    }
  </main>
