.categories {
  display: flex;
  gap: 50px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.category-entry {
  display: flex;
  gap: 10px;
  align-items: center;
}

.entry-img {
  height: 40px;
  image-rendering: pixelated;
}

.entry-text {
  font-size: 14pt;
}

@media screen and (width <= 900px) {
  .categories {
    flex-direction: column;
  }
}
