.categories {
  display: flex;
  gap: 50px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.category-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.entry-img {
  height: 40px;
  image-rendering: pixelated;
}

.entry-text {
  font-size: 14pt;
}

.mutation {
  margin-left: 20px;
}

.concepts {
  display: grid;
  gap: 40px;
  margin-bottom: 60px;
}

.concept {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 150px;
  cursor: pointer;
}

.main-container {
  display: flex;
  gap: 80px;
  margin-left: 40px;
}
.concept-img {
  height: 150px;
  width: 150px;
  image-rendering: pixelated;
}

.concept-text {
  text-align: center;
  font-weight: bold;
}

.concepts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concept-1 {
  grid-row: 1;
  grid-column: 1;
}
.concept-2 {
  grid-row: 1;
  grid-column: 2;
}
.concept-3 {
  grid-row: 2;
  grid-column: 1;
}
.concept-4 {
  grid-row: 2;
  grid-column: 2;
}
.concept-5 {
  grid-row: 3;
  grid-column: 1;
}
.concept-6 {
  grid-row: 3;
  grid-column: 2;
}
.concept-7 {
  grid-row: 4;
  grid-column: 1;
}

@media screen and (width <= 900px) {
  .categories {
    flex-direction: column;
  }
  .main-container {
    flex-direction: column;
    gap: 0px;
    margin-left: 0px;
  }
}
