<app-header title="Home"></app-header>

  <main>
    <div class="main-container">
    <div class="concepts-container">
      <h3>Guides</h3>
      <div class="concepts">
        <div class="concept concept-1" (click)="router.navigateByUrl('/concept/general knowledge')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/a/a7/Become_as_Gods.png" />
          <span class="concept-text">General Knowledge</span>
        </div>
      </div>
    </div>
    <div class="concepts-container">
      <h3>Concepts</h3>
      <div class="concepts">
        <div class="concept concept-1" (click)="router.navigateByUrl('/concept/skills')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/0/07/So_Powerful_is_the_Charm_of_Words.png" />
          <span class="concept-text">Skills</span>
        </div>
        <div class="concept concept-2" (click)="router.navigateByUrl('/concept/mutants')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/3/3b/Mutagenic_Mastery.png" />
          <span class="concept-text">Mutants</span>
        </div>
        <div class="concept concept-3" (click)="router.navigateByUrl('/concept/callings')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/2/25/What%27s_Eating_the_Watervine%3F.png" />
          <span class="concept-text">Callings</span>
        </div>
        <div class="concept concept-4" (click)="router.navigateByUrl('/concept/true kin')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/a/aa/You_Are_Becoming.png" />
          <span class="concept-text">True Kin</span>
        </div>
        <div class="concept concept-5" (click)="router.navigateByUrl('/concept/castes')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/4/46/You_Became.png" />
          <span class="concept-text">Castes</span>
        </div>
        <div class="concept concept-6" (click)="router.navigateByUrl('/concept/limbs')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/5/5c/Proteus.png" />
          <span class="concept-text">Limbs</span>
        </div>
        <div class="concept concept-7" (click)="router.navigateByUrl('/concept/reputation')">
          <img class="concept-img" src="https://wiki.cavesofqud.com/images/4/41/Your_Thirst_Is_Mine%2C_My_Water_Is_Yours.png" />
          <span class="concept-text">Reputation</span>
        </div>
      </div>
    </div>
    <div class="categories">
      <div class="category">
        <h3>Skills</h3>
        @if (skillsLoading) {
          <mat-spinner></mat-spinner>
        } @else {
          <div (click)="router.navigateByUrl('/skill/' + skill.id)" class="category-entry" *ngFor="let skill of skills">
            <img class="entry-img" [src]="skill.imgUrl" />
            <span class="entry-text">{{skill.name}}</span>
          </div>
        }
      </div>
      <div class="category">
        <h3>Mutations</h3>
        @if (mutationsLoading) {
          <mat-spinner></mat-spinner>
        } @else {
          <h4>Morphotypes</h4>
          <div (click)="router.navigateByUrl('/mutation/' + mutation.id)" class="mutation category-entry" *ngFor="let mutation of mutationCat('morphotype')">
            <img class="entry-img" [src]="mutation.imgUrl" />
            <span class="entry-text">{{mutation.name}}</span>
          </div>
          <h4>Physical Mutations</h4>
          <div (click)="router.navigateByUrl('/mutation/' + mutation.id)" class="mutation category-entry" *ngFor="let mutation of mutationCat('physical mutations')">
            <img class="entry-img" [src]="mutation.imgUrl" />
            <span class="entry-text">{{mutation.name}}</span>
          </div>
          <h4>Physical Defects</h4>
          <div (click)="router.navigateByUrl('/mutation/' + mutation.id)" class="mutation category-entry" *ngFor="let mutation of mutationCat('physical defects')">
            <img class="entry-img" [src]="mutation.imgUrl" />
            <span class="entry-text">{{mutation.name}}</span>
          </div>
          <h4>Mental Mutations</h4>
          <div (click)="router.navigateByUrl('/mutation/' + mutation.id)" class="mutation category-entry" *ngFor="let mutation of mutationCat('mental mutations')">
            <img class="entry-img" [src]="mutation.imgUrl" />
            <span class="entry-text">{{mutation.name}}</span>
          </div>
          <h4>Mental Defects</h4>
          <div (click)="router.navigateByUrl('/mutation/' + mutation.id)" class="mutation category-entry" *ngFor="let mutation of mutationCat('mental defects')">
            <img class="entry-img" [src]="mutation.imgUrl" />
            <span class="entry-text">{{mutation.name}}</span>
          </div>
        }
      </div>
    </div>
    </div>
  </main>
