.skill-title-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.skill-img {
  height: 100px;
  image-rendering: pixelated;
}

.skill-title {
  font-size: 20px;
}

.skill-desc {
  font-style: italic;
}

.ability-desc {
  text-align: justify;
}

.summary-container {
  display: flex;
  gap: 20px;
}

.effects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-entries {
  font-style: italic;
  color: rgb(200, 250, 230);
}

.ability {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ability-container {
  max-width: 600px;
}

.highlight-container {
  background: linear-gradient(345deg, rgb(20, 40, 60), rgb(40, 60, 80));
  border-radius: 10px;
  padding: 10px;
}

.details-container {
  gap: 30px;
  display: flex;
}

.buff-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px grey solid;
  background: linear-gradient(90deg, rgb(20, 30, 40), rgb(40, 60, 80));
}

@media screen and (width <= 900px) {
  .details-container {
    flex-direction: column;
  }
}

.category-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.entry-img {
  height: 40px;
  image-rendering: pixelated;
}

.entry-text {
  font-size: 14pt;
}

.mutation {
  margin-left: 20px;
}
