.concept-container {
  display: flex;
  gap: 40px;
}

.concept-text {
  max-width: 800px;
  text-align: justify;
}

a {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (width <= 900px) {
  .concept-container {
    gap: 15px;
  }
  .concept-text {
    text-align: left;
  }
}
