.concept-container {
  display: flex;
  gap: 40px;
}

.concept-text {
  max-width: 800px;
  text-align: justify;
}

a,
.link {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

.mut-link {
  cursor: pointer;
}

.icon-img {
  margin-bottom: -8px;
  height: 30px;
  image-rendering: pixelated;
}

.wiki-page {
  width: 800px;
  height: 800px;
  border: none;
  scrollbar-width: 0;
}

.placeholder {
  font-style: italic;
  color: rgb(200, 250, 230);
}

td,
th {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (width <= 900px) {
  .concept-container {
    gap: 15px;
  }
  .concept-text {
    text-align: left;
  }
  .wiki-page {
    width: 500px;
  }
}
